<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Create Special Offer</title>
</head>
<body>
<main layout:fragment="content" class="container-fluid container-md">
    <h2>Create Special Offer</h2>
    <form th:action="@{/special-offer/add}" th:object="${specialOffer}" method="post">
        <input type="hidden" th:name="pizza.id" th:value="${pizzaId}"/>

        <div th:replace="fragments/UI/formFragments :: textInput(
                'Title',
                'offerTitle',
                'title',
                'Enter Title',
                true,
                'title',
                '')">
        </div>

        <div class="row">
            <div class="col">
                <!-- Start Date Input -->
                <div class="mb-3">
                    <label for="offerStartDate" class="form-label">Start Date</label>
                    <input type="date" id="offerStartDate" name="startDate" class="form-control" th:value="*{startDate}"
                           required/>
                </div>
            </div>
            <div class="col">
                <!-- End Date Input -->
                <div class="mb-3">
                    <label for="offerEndDate" class="form-label">End Date</label>
                    <input type="date" id="offerEndDate" name="endDate" class="form-control" th:value="*{endDate}"
                           required/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create Offer</button>
    </form>
</main>
</body>
</html>